* {
    box-sizing: border-box;
}

body, html, #wrapper {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Adelle", serif;
	background-color: #f9f9f9;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
}


h1, h2, h3 {
    font-family: "brandon-grotesque-n9", "brandon-grotesque", sans-serif;
    font-weight: 900;
	text-transform: uppercase;
}

h1 {
	font-size: 36px;
	line-height: 42px;
	font-weight: 800;
}

h2 {
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	font-weight: 600;
}

h3 {
	font-size: 22px;
	line-height: 24px;
	font-weight: 800;
}

p {
	font-size: 18px;
	line-height: 26px;
    color: #fff;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.section {
	width: 100%;
	position: relative;
	overflow: hidden;
    color: #fff;
}

.section h2.title {
    margin: 0 0 40px 0;
}

.inner {
    text-align: center;
    padding: 5%;
}

.clear {
    clear: both;
}

.trihack {
    position: fixed;
    top: 0;
    left: 0;
}

/* Intro Screen */

#intro {
	background-color: #fff;
    background-image: url('../img/bg.png');
    text-align: center;
}

#intro .inner {
    padding: 0;
}

.logo {
    max-width: 84%;
    margin: 4% auto;
}

p.intro-text {
    font-weight: 500;
    color: #151414;
    font-size: 24px;
    line-height: 42px;
    margin: 0 16px;
}

.social {
    margin: 0 auto;
    width: 100%;
}

.social img {
    height: 38px;
    display: inline-block;
}

.tickets-btn {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "brandon-grotesque-n9", "brandon-grotesque", sans-serif;
    font-weight: 900;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
    background: rgb(56,197,87);
    color: #fff;

    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
}

.tickets-btn:hover {
    background: rgb(225,40,118);
}

.sponsors-gold {
    max-width: 95%;
}
    
/* navigation */

nav {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 99;
    overflow: hidden;
    overflow-x: auto;
}

nav ul {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
    list-style: none;
}

nav li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table-cell;
    text-align: center;
}

nav li a {
    display: block;
    line-height: 50px;
    text-decoration: none;
    font-family: "brandon-grotesque-n9", "brandon-grotesque", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #151515;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid #eee;
    padding: 0 0.2em;
}

nav li a:hover {
    background: #151515;
    color: #fff;
    border-left: 1px solid #151515;
}

/* video */

#video {
    overflow: hidden;
    margin-bottom: -5px;
}

#video iframe {
    width: 100%;
}

/* gradient overlays */

.overlay .inner {
    opacity: 0.95;
}

.green-overlay .inner, .green-text {
    background: rgb(56,197,87); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(56,197,87,1) 0%, rgba(19,208,221,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,197,87,1)), color-stop(100%,rgba(19,208,221,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(56,197,87,1) 0%,rgba(19,208,221,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(56,197,87,1) 0%,rgba(19,208,221,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(56,197,87,1) 0%,rgba(19,208,221,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(56,197,87,1) 0%,rgba(19,208,221,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38c557', endColorstr='#13d0dd',GradientType=0 ); /* IE6-9 */       
}

.green-hover:hover, .green-hover.nav-active {
    background: rgb(56,197,87);
    border-color: rgb(56,197,87);
    color: #fff;
}
    
.purple-overlay .inner, .purple-text {
    background: rgb(225,40,118); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(225,40,118,1) 0%, rgba(160,41,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,40,118,1)), color-stop(100%,rgba(160,41,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(225,40,118,1) 0%,rgba(160,41,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(225,40,118,1) 0%,rgba(160,41,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(225,40,118,1) 0%,rgba(160,41,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(225,40,118,1) 0%,rgba(160,41,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12876', endColorstr='#a029ea',GradientType=0 ); /* IE6-9 */
}

.purple-hover:hover, .purple-hover.nav-active {
    background: rgb(225,40,118);
    border-color: rgb(225,40,118);
    color: #fff;
}

.orange-overlay .inner, .orange-text {
    background: rgb(250,66,64); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(250,66,64,1) 0%, rgba(238,167,62,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,66,64,1)), color-stop(100%,rgba(238,167,62,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(250,66,64,1) 0%,rgba(238,167,62,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(250,66,64,1) 0%,rgba(238,167,62,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(250,66,64,1) 0%,rgba(238,167,62,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(250,66,64,1) 0%,rgba(238,167,62,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4240', endColorstr='#eea73e',GradientType=0 ); /* IE6-9 */
}

.orange-hover:hover, .orange-hover.nav-active {
    background: rgb(250,66,64);
    border-color: rgb(250,66,64);
    color: #fff;
}

.yellow-overlay .inner, .yellow-text {
    background: rgb(237,127,48); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,127,48,1) 0%, rgba(237,225,1,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,127,48,1)), color-stop(100%,rgba(237,225,1,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,127,48,1) 0%,rgba(237,225,1,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,127,48,1) 0%,rgba(237,225,1,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,127,48,1) 0%,rgba(237,225,1,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(237,127,48,1) 0%,rgba(237,225,1,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7f30', endColorstr='#ede101',GradientType=0 ); /* IE6-9 */
}

.yellow-hover:hover, .yellow-hover.nav-active {
    background: rgb(237,127,48);
    border-color: rgb(237,127,48);
    color: #fff;
}

.blue-overlay .inner, .blue-text {
    background: rgb(174,79,181); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(174,79,181,1) 0%, rgba(118,160,213,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,79,181,1)), color-stop(100%,rgba(118,160,213,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(174,79,181,1) 0%,rgba(118,160,213,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(174,79,181,1) 0%,rgba(118,160,213,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(174,79,181,1) 0%,rgba(118,160,213,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(174,79,181,1) 0%,rgba(118,160,213,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae4fb5', endColorstr='#76a0d5',GradientType=0 ); /* IE6-9 */
}

.blue-hover:hover, .blue-hover.nav-active {
    background: rgb(174,79,181);
    border-color: rgb(174,79,181);
    color: #fff;
}

.pink-overlay .inner, .pink-text {
    background: rgb(255,51,91); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,51,91,1) 0%, rgba(255,95,167,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,51,91,1)), color-stop(100%,rgba(255,95,167,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,51,91,1) 0%,rgba(255,95,167,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,51,91,1) 0%,rgba(255,95,167,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,51,91,1) 0%,rgba(255,95,167,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,51,91,1) 0%,rgba(255,95,167,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff335b', endColorstr='#ff5fa7',GradientType=0 ); /* IE6-9 */
}

.pink-hover:hover, .pink-hover.nav-active {
    background: rgb(255,51,91);
    border-color: rgb(255,51,91);
    color: #fff;
}

/* video */

#ythack {
    background: #000;
}

/* about */

#about {
    background-size: cover;
    background-position: center center;
}

p.about-text {
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    margin: 0;
}

p.about-text span {
    padding: 0 5px;    
}

a.outline-btn {
    border: 2px solid rgba(255,255,255,0.8);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "brandon-grotesque-n9", "brandon-grotesque", sans-serif;
    font-weight: 900;
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    width: 90%;
}

a.outline-btn:hover {
    border: 2px solid rgb(225,40,118);
    background: rgb(225,40,118);
}

/* prizes */

#prizes {
    background-size: cover;
    background-position: center center;    
}

#prizes .inner {
    padding-left: 0;
    padding-right: 0;
}

.prize {
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

.prize a {
    color: #5C65FF;
}

.prize h3 {
    padding: 20px;
    margin: 0;
    font-size: 26px;
}

p.prize-items {
    font-size: 28px;
    margin: 0 0 20px 0;
    line-height: 32px;
    border-bottom: 3px solid #eee;
    padding: 20px;
    color: #444;
    background: #f9f9f9;
    border-top: 3px solid #f7f7f7;
}

.prize p.prize-details {
    color: #444;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    padding: 0 20px;
}

.prize-sponsor {
    background: #f7f7f7;
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
    border-spacing: 10px;
    border-collapse: separate;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.prize-sponsor-row {
    display: table-row;
}

.prize-sponsor img {
    max-width: 30%;
    max-height: 70px;
    margin: 0 auto;
}
    
.prize-sponsor a {
    width: 33.3%;
    padding: 2%;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #fff;
}

/* prize slider */

.slick-prev {
    left: -5%;
}

.slick-next {
    right: -5%;
}

.slick-prev, .slick-next {
    height: 60px;
    width: 60px;
    margin-top: -30px;
}

.slick-prev:before, .slick-next:before {
    font-size: 60px;
    text-shadow: 0px 1px 2px #000;
}

.slick-active {
}

/* prize overall */

#prize-overall .prize-sponsor img  {
    padding: 4%;
    max-width: 100%;
}

#prize-overall .prize-sponsor-row img  {
    max-height: 60px;
}

#prize-overall .prize-sponsor-row:last-child a  {
    width: 33.3%;
}

#prize-overall .prize-sponsor a  {
    max-width: 100%;
}

/* prize scala */

#prize-scala .prize-sponsor img  {
    max-width: 60%;
}

#prize-scala .prize-sponsor a {
    width: 25%;
}

/* sponsors */

#sponsors {
    background-size: cover;
    background-position: center center;   
}

.sponsor-logos {
    background: #f7f7f7;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    border-spacing: 10px;
    border-collapse: separate;
    padding: 0 10px 10px 30px;
}

.sponsor-row {
    display: table-row;
}

.sponsor-logos img {
    max-width: 100%;
}

.sponsor-logos-platinum a {
    width: 100%;
    padding: 4%;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #fff;
}

.sponsor-logos-platinum a:hover {
    border: 1px solid #000;
}

.sponsor-logos-platinum::before {
    content: '';
    position: absolute;
    background: #000;
    width: 20px;
    height: 100%;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sponsor-logos-gold a {
    width: 50%;
    padding: 4%;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #fff;
}

.sponsor-logos-gold a:hover {
    border: 1px solid gold;
}

.sponsor-logos-gold::before {
    content: '';
    position: absolute;
    background: gold;
    width: 20px;
    height: 100%;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sponsor-logos-silver a {
    width: 33.3%;
    padding: 4% 3%;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #fff;
}

.sponsor-logos-silver a:hover {
    border: 1px solid silver;
}

.sponsor-logos-silver::before {
    content: '';
    position: absolute;
    background: silver;
    width: 20px;
    height: 100%;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sponsor-logos-bronze a {
    width: 25%;
    padding: 3% 2%;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #fff;
}

.sponsor-logos-bronze a:hover {
    border: 1px solid #8C7853;
}

.sponsor-logos-bronze::before {
    content: '';
    position: absolute;
    background: #8C7853;
    width: 20px;
    height: 100%;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* venue */

#venue {
    background-size: cover;
    background-position: center center;   
}

.venue-trihack {
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

p.unicentre {
    font-size: 26px;
    margin: 0;
}

/* schedule */

#schedule {
    background-size: cover;
    background-position: center center;   
}

.day {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.day:last-child {
    margin-right: 0;
}

.day p {
    margin-bottom: 30px;
}

.day ul {
    margin: 0;
    padding: 0;
}

.day li {
/*    padding-left: 85px;
    position: relative;
*/
    list-style: none;
    color: #fff;
    font-size: 16px;
    text-align: left;
    margin: 10px 0;
}

.day li span {
    display: inline-block;
    left: 0;
    width: 75px;

    display: block;
    width: 100%;
    left: auto;

    background: #fff;
    margin-right: 10px;
    color: #444;
    font-weight: bold;
    text-align: center;
}

/* blog */

#blog {
    background-size: cover;
    background-position: center center;   
}

#blog .blog-img {
    width: 100%;
    height: auto;
}

/* faq */

#faq {
    background-size: cover;
    background-position: center center;  
*/}

#faq .inner {
    padding: 5% 0;
}

.accordion .accordion-item {
    overflow: hidden;
    text-align: left;
    width: 95%;
    margin: 0 auto;
}

.accordion-item:hover {
    will-change: height;
}

.accordion .accordion-content.animate {
    -moz-transition: 0.4s height ease-in-out;
    -webkit-transition: 0.4s height ease-in-out;
    transition: 0.4s height ease-in-out;
}

.accordion .faq-heading {
    font-size: 17px;
    font-weight: normal;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    padding-left: 40px;
    position: relative;
}

.accordion .faq-heading:hover, .accordion .faq-heading.active {
    background: #fff;
    color: #444;
}

.accordion .faq-heading:before {
    font-family: 'FontAwesome';
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.accordion .faq-heading.active:before {
    content: "\f077";   
}

.accordion .faq-content p {
    font-size: 15px;
    background: #fff;
    color: #444;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
}

.accordion .faq-content p  a {
    color: #5C65FF;
}

/* tickets */

#tickets {
    background-size: cover;
    background-position: center center;
}

.entry-benefits {
    margin: 30px 0;
}

.entry-benefits li {
    list-style: none;
    color: #fff;
    font-size: 18px;
    text-align: left;
}

.entry-benefits li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    width: 1.2em;
    margin-left: -1.2em;
}

h2.entry-price {
    float: right;
    margin: 0;
}

h2.entry-price span {
    display: block;
    font-size: 100px;
    line-height: 110px;
}


/* footer */

#footer {
    background: #f9f9f9;
    padding: 10px;
    padding-bottom: 40px;
}

#footer p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 90%;
    color: #444;
    margin: 20px auto;
}


@media only screen 
and (min-width : 960px) {

	body, html {
		height: auto !important;
	}

    nav {
        bottom: auto;
        width: 55%;
    }
	
	#wrapper {
		max-width: 1900px;
		margin: 0 auto;
		position: relative;
        width: 100%;
	}
	
	body {
		float: left;
		width: 100%;
	}
	
	#intro {
		width: 45%;
		max-width: 950px;
		position: fixed;
		height: 100%;
		float: none;
        height: 100%;
	}

    #intro .inner {
        position: relative;
        top: 50%;
        top: calc(50% - 43px);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
	
	#content {
		width: 55%;
		margin-left: 45%;
		z-index: 1;
		position: relative;
	}

    #video iframe {
        margin-top: 50px;
    }

    #schedule .day {
        width: 49%;
        float: left;
        margin-right: 1%;
    }

    #footer {
        height: 150px;
        padding: 20px;
    }

    #footer p {
        width: 80%;
    }

    .logo {
        width: 100%;
        max-width: 500px;
    }

    .tickets-btn {
        width: 40%;
        margin: 16px auto 0;
    }

    .social {
        position: absolute;
        bottom: 5px;
    }

    #about .inner {
        padding-top: 0.5em;
    }

    a.outline-btn, .item {
        width: auto;
        min-width: 45%;
    }

    p.about-text {
        font-size: 26px;
        line-height: 44px;
    }

    .prize h3 {
        margin: 0;
    }

    .prize-inner {
        padding: 20px 0;
        width: 85%;
        margin: 0 auto;
    }

    #faq .inner {
        padding: 5%;
    }

    .accordion .accordion-item {
        width: 80%;
    }

    #about {
        background: url('../img/design.jpg');
    }

/*    #prizes {
        background: url('../img/code.jpg');
    }

    #sponsors {
        background: url('../img/build.jpg');
    }
*/
    #venue {
        background: url('../img/game.jpg');
    }

    #schedule {
        background: url('../img/sleep.jpg');
    }

    #blog {
        background: url('../img/launch.jpg');
    }

    #faq {
        background: url('../img/code.jpg');
    }
  
    #tickets {
        background: url('../img/design.jpg');
    }
}

@media only screen 
and (min-width : 1260px),
only screen and (min-width : 375px) and (max-width : 960px) {

	h1 {
		font-size: 44px;
		line-height: 48px;
	}
	
	h2 {
		font-size: 30px;
		line-height: 32px;
		padding: 0;
	}
	
	p.description {
		font-size: 30px;
		line-height: 36px;
	}
	
	.background {
		width: 852px;
		height: 1080px;
		margin-left: -426px;
		margin-top: -540px;
		background-size: 852px 1080px;
	}
}